.content{
    height: auto;
    margin: 50px 0;
}

img{
    width: 100%;
}

h3{
    color: var(--themeStandardColor);
}

p{
    font-size: 18px;
    padding: 5px 0px;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    margin-top: 40px;
}

input, textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

textarea{
    resize: vertical;
}

button{
    width: 100%;
    border-radius: 5px;
}